@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<main>
<header>
<section class="showcase">
        <div class="container">
            <div class="content">
                <h1>@Model.Value("showcaseTitle")</h1>
                <p>@Model.Value("showcaseDescription")</p>
                <a class="btn-yellow" href="@Model.Value("showcaseButtonURL")">@Model.Value("showcaseButtonText")<i class="bi bi-arrow-up-right"></i></a>
                <a class="btn-transparent" href="services.html">Learn more<i class="bi bi-arrow-up-right"></i></a>
            </div>
        @{
            var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
            if(showcaseImage != null)
            {
                <img src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseTitle")">
            }
        }
            
        </div>
    </section>
    </header>
    <!--
<main>
    <section class="company-feature">
        <div class="container">
            <div class="section-title">
                <p>Features</p>
                <h2>Our Accounting is trusted by thousands of companies</h2>
                <a class="btn-yellow" href="#">Learn More <i class="bi bi-arrow-up-right"></i></a>
            </div>
            <div class="features">
                <div>
                    <i class="bi bi-easel"></i><h3>Business Advice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <i class="bi bi-lightbulb"></i><h3>Startup Business</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <i class="bi bi-graph-up-arrow"></i><h3>Financial Advice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <i class="bi bi-tools"></i><h3>Risk Management</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-company">
        <div class="container">
            <div class="about-image center-content">
                <img src="images/daria-pimkina-tYaccl19A3Q-unsplash.jpg" alt="Woman walking in business corridor with notepad in hand.">
                <div class="text-overlay"><h3>Samantha Brown,</h3><h3 class="h3-color"> Founder</h3><p>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p></div>
            </div>
            <div class="section-title">
                <p>About Company</p>
                <h2>We Are Business Consulting & Credit Repair Experts</h2>
                <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia dolor, reprehenderit sequi explicabo ratione totam vitae itaque possimus mollitia, deserunt voluptate accusamus ipsam amet blanditiis, quas quis distinctio repellat repellendus?</article>
                <a class="btn-black" href="#">Learn More <i class="bi bi-arrow-up-right"></i></a>
            </div>
        </div>
    </section>
 
    <section class="company-service">
        <div class="container">
            <div class="section-title">
                <p>Our Services</p>
                <h2>We Provide The Best Service For Consulting</h2>
            </div>
            <div class="company-services">
                <div class="service-option">
                    <div class="border-top"></div><h3>Business Advice</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                    <a class="btn-black" href="#"><i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="service-option">
                    <h3>Startup Business</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                    <a class="btn-black" href="#"><i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="service-option">
                    <h3>Financial Advice</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                    <a class="btn-black" href="#"><i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="service-option">
                    <h3>Risk Management</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                    <a class="btn-black" href="#"><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="bottom-button center-content">
                <a class="btn-transparent" href="services.html">Learn more<i class="bi bi-arrow-up-right"></i></a>
            </div>

        </div>

    </section>

    <section class="why-us">
        <div class="container">
            <div class="why-us-grid">
                <div class="section-title">
                    <p>Why Choose Us</p>
                    <h2>Why We Are The Best Business Consulting Agency</h2>
                </div>
                <div class="why-us-section">
                    <div class="why-us-text">
                        <i class="us-icon bi bi-hand-thumbs-up"></i>
                        <div class="us-content">
                            <h3>Process Excellence</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="why-us-text">
                        <i class="bi bi-calendar2-range"></i>
                        <div class="us-content">
                            <h3>Strategic Planning</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="why-us-text">
                        <i class="bi bi-award"></i>
                        <div class="us-content">
                            <h3>Experience Design</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div class="why-us-text">
                        <i class="bi bi-cpu"></i>
                        <div class="us-content">
                            <h3>Artificial Inteligence</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="why-us-image">
                <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="two women sitting at a table talking about content on a computer screen">
                <div></div>
            </div>
        </div>
    </section>

    <section class="project-section">
        <div class="container">
            <div class="section-title">
                <p>Project & Case Studies</p>
                <h2>Let Looks Our Global Projects</h2>
            </div>
            <div class="project-cases">
                <article>
                    <img src="images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/marek-levak-zANXcXyByos-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
                <article>
                    <img src="images/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="Picture of a man reading a business news magazine.">
                    <h3>Grow Your Company</h3>
                    <a href="#">Read More <i class="bi bi-arrow-up-right"></i></a>
                </article>
            </div>
            <div class="center-content">
                <a class="btn-black" href="projects.html">All Recent Projects <i class="bi bi-arrow-up-right"></i></a>
            </div>
        </div>
    </section>
</main>
    -->
